<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/global.css">
<style type="text/css">
.top_blank {
	margin-top : 10px;
}

.title_bar {
	height : 90px;
	/* background-color : #343434; */
	background-color : #FF8739;
	font-size : 30px;
	font-weight : bolder;
	color : #FFFFFF;;
	/* color : #CCCCCC; */
	text-align : center;
	line-height: 90px;
}

.title_bar_color_1 {
	background-color : #B1ED2D;
}

.title_bar_color_2 {
	background-color : #00C0FB;
}

.title_bar_color_3 {
	background-color : #FFED4D;
}

.title_bar_color_4 {
	background-color : #6A3FAB;
}
</style>
</head>
<body>
<div class="container" ng-app="cityApp">
	<div class="row top_blank">
		<div class="col-xs-12">
			<div class="title_bar">北京 · 丰台</div>
		</div>
	</div>
	<div class="row top_blank">
		<div class="col-xs-12">
			<div class="title_bar title_bar_color_1">海淀</div>
		</div>
	</div>
	<div class="row top_blank">
		<div class="col-xs-12">
			<div class="title_bar title_bar_color_2">长春</div>
		</div>
	</div>
	<div class="row top_blank">
		<div class="col-xs-12">
			<div class="title_bar title_bar_color_3">朝阳</div>
		</div>
	</div>
	<div class="row navbar-fixed-bottom">
		<div class="col-xs-4" ng-controller="provinceCtrl">
			<select class="form-control" ng-model="province" ng-options="data as data for data in provinceList">
			</select>
		</div>
		<div class="col-xs-4" ng-controller="cityCtrl">
			<select class="form-control" id="city">
				<option value="{{ data }}" ng-repeat="data in provinceList">{{ data }}</option>
			</select>
		</div>
		<!-- <div class="col-xs-4" ng-controller="districtCtrl">
			<select class="form-control" id="district">
				<option value="{{ data }}" ng-repeat="data in provinceList">{{ data }}</option>
			</select>
		</div> -->
	</div>
</div>
<script src="../js/jquery/jquery-1.11.1.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/angular/angular.js"></script>
<script type="text/javascript">
var app = angular.module('cityApp', []);
app.controller('provinceCtrl', function($scope, $http) {
	$http({
		method : "get",
		contentType : 'application/json;charset=UTF-8',
		dataType : 'json',
		url : "../city/queryProvinces.do"
	}).success(function(data, status) {
        //$scope.status = status;
        $scope.provinceList = data;
        //alert($scope.provinceList);
     }).error(function(data, status) {
       //$scope.data = data || "Request failed";
       //$scope.status = status;
   });
});

app.controller('cityCtrl', function($scope, $http) {
	var sendData = {"cityId" : "CN101010100", "beginDate" : "20151117", "days" : "30"};
	$http({
		method : "get",
		contentType : 'application/json;charset=UTF-8',
		dataType : 'json',
		url : "../city/queryProvinces.do",
		data : ""
	}).success(function(data, status) {
        //$scope.status = status;
        $scope.provinceList = data;
        //alert($scope.provinceList);
     }).error(function(data, status) {
       //$scope.data = data || "Request failed";
       //$scope.status = status;
   });
});
</script>
</body>
</html>