body {
	background-color: #4A4A4A;
}

/*ÐÞ¸ÄbootstrapÖÐcontainerºÍrowÈÝÆ÷*/
.container, .row, .col-xs-12 {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.global_title {
	height : 30px;
	/* background-color : #646466; */
	background-color : rgba(100,100,102,0.4);
	font-size : 17px;
	font-weight : bold;
	color : #CCCCCC;
	/* color : #CCCCCC; */
	text-align : center;
	line-height: 30px;
}

